table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr.pending {
    background: #FE9A00;
}

tr.processing {
    background: #FEE497;
}

tr.failed {
    background: #FE1300;
}

tr.completed {
    background: #6BA74F;
}

